@model IEnumerable<Infraestructure.Models.Pregunta>

@{
    bool first = true;
    int IdUsuarioProducto = ViewBag.IdUsuarioProducto;
    int idRespuestaActual = 1;
    int idFormRespuestaActual = 1;
}

@if (Model.Count() > 0)
{
    foreach (Infraestructure.Models.Pregunta pregunta in Model)
    {
        <div class="w-75 p-3 rounded-4 bg-body card mb-4 shadow-lg @(first ? "bg-gradient" : "")">
            <h3 class="card-title text-white mb-3">
                <i class="fa-solid fa-user m-3 shadow-lg"></i>
                @pregunta.Usuario.Nombre @pregunta.Usuario.PrimerApellido @pregunta.Usuario.SegundoApellido •
                <span class="fs-5">@Html.DisplayFor(model => pregunta.FechaHora)</span>
            </h3>
            <h4 class="card-text text-white-50 mb-4">@pregunta.Pregunta1</h4>
            <div class="d-flex">
                <button data-idrespuestaactual="@idRespuestaActual" data-idpregunta="@pregunta.IdPregunta" class="shadow-lg text-white bg-body btn fw-bold w-25 me-4 verRespuestas" type="button"><i class="fa-solid fa-caret-down"></i> Ver Respuestas</button>
                @if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Vendedor" }) && (Session["User"] as Infraestructure.Models.Usuario).IdUsuario == IdUsuarioProducto)
                {
                    <button data-idrespuestaactual="@idRespuestaActual" data-idformrespuestaactual="@idFormRespuestaActual" data-idpregunta="@pregunta.IdPregunta" class="text-white btn shadow-lg fw-bold w-25 bg-body verFormularioRespuesta" type="button"><i class="fa-solid fa-reply"></i> Responder</button>
                }
            </div>
        </div>
        <div id="@("formularioRespuesta" + idFormRespuestaActual)"></div>
        <div id="@("respuestas" + idRespuestaActual)"></div>
        {
            if (first)
            {
                first = false;
            }
            idRespuestaActual++;
            idFormRespuestaActual++;
        }
        <hr class="text-black"/>
    }
}
else
{
    <h3 class="text-black mb-4 text-center mt-4"><i class="fa-solid fa-warning text-warning"></i> No hay preguntas realizadas</h3>
}