@model IEnumerable<Infraestructure.Models.Producto>


@{
    ViewBag.Title = "ByteStore - Catálogo";
}

<div class="d-md-flex justify-content-md-center mb-4">
    <h2 class="w-auto text-center border border-primary border-3 text-light fw-bold p-3 rounded-4">Catálogo</h2>
</div>
<h3 class="text-white mb-4 text-center">Gran variedad a tu alcance</h3>
<hr class="mb-4" />

<div class="row mb-4">
    <div class="col-md-4 mb-4">
        <form class="d-flex">
            @Html.TextBox("filtro", "", new { @class = "form-control me-sm-2", @placeholder = "Buscar Producto" })
            <button id="btnBuscar" class="btn btn-info my-2 my-sm-0" type="button">Buscar</button>
        </form>
    </div>
    <div class="col-md-4 mb-4">
        <select class="form-select col-md" id="categoria">
            <option value="-1" class="active filtercategoria">Seleccione Categoría</option>

            @*Cargar lista Categorías*@
            @foreach (var categoria in (List<Infraestructure.Models.Categoria>)ViewBag.listaCategoria)
            {
                <option class="filtercategoria" value="@categoria.IdCategoria">@categoria.Descripcion</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <div class="form-check form-switch mb-4 d-flex justify-content-center align-items-center mt-auto">
            <input class="form-check-input me-2"
                   type="checkbox"
                   id="preciofilter">
            <label class="form-check-label fw-bold text-white"
                   for="preciofilter">
                Ordenar x Precio (Mayor a Menor)
            </label>
        </div>
    </div>
</div>
<hr class="mb-4" />

<div id="resultado" class="row mb-4">

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-lg-4 mb-4">
                <div class="card border-dark h-100 w-100 bg-gradient" style="background-color: rgba(0, 43, 54, 0.4);">
                    @if (item.Stock > 0 && Web.Security.AutorizeView.IsUserInRole(new string[] { "Cliente" }) && (Session["User"] as Infraestructure.Models.Usuario).IdUsuario != item.Usuario.IdUsuario)
                    {

                        <button class="rounded-5 fa-solid fa-cart-shopping fa-2xl m-3 shadow-lg text-dark position-absolute text-center ordenarProducto"
                                data-idproducto="@item.IdProducto"
                                data-stockactual="@item.Stock"
                                @(Web.Utils.Carrito.Instancia.getCountProducto(item.IdProducto) >= item.Stock ? "disabled" : "")
                                style="box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.5) !important;
                                       top: -5px; left: -5px;
                                       padding: 25px 12px 25px 10px;
                                       background-color: @(Web.Utils.Carrito.Instancia.getCountProducto(item.IdProducto) >= item.Stock ? "grey" : "rgba(255, 255, 255, 255)");
                                       border: none;">
                        </button>
                    }
                <div class="bg-white rounded-4">
                    <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.FotoProducto.FirstOrDefault().Foto)"
                         alt="Imagen @Html.DisplayFor(modelItem => item.Nombre)" class="card-img" style="object-fit: scale-down; max-height: 450px;" />
                </div>
                    
                    <div class="card-body">
                        <div class="card-body">
                            <h4 class="card-title text-white">@Html.DisplayFor(modelItem => item.Nombre)</h4>
                            <p class="card-title text-white">
                                @Html.DisplayNameFor(model => model.Stock):
                                @if (@item.Stock > 0)
                                {
                                    <span class="card-text" style="color: rgb(50,205,50);">Disponible</span>
                                }
                                else
                                {
                                    <span class="card-text" style="color:red">Agotado</span>
                                }
                            </p>
                            <p class="card-title text-white"> @Html.DisplayNameFor(model => model.Precio): @Html.DisplayFor(modelItem => item.Precio)</p>

                            <hr class="mb-4" />
                            @* Detalle Ajax Modal *@
                            <a href="@Url.Action("Details", "Producto", new {id = item.IdProducto})" class="btn btn-info detalle w-100 position-absolute bottom-0 start-0 w-75" data-id="@item.IdProducto"><i class="fa-regular fa-note-sticky"></i> Ver más</a>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
    else
    {
        <h3 class="text-white mb-4 text-center mt-4"><i class="fa-solid fa-warning text-warning"></i> No se encuentran productos con esas características</h3>
    }



</div>

@section Scripts{
    <script type="text/javascript">

        //Buscar por nombre

        $(function () {
            var lista = @Html.Raw(Json.Encode(ViewBag.Nombres));
            $("#filtro").autocomplete({ // aplica autocompletado para lista y nombres
            source: lista
            })
        });

        $("#btnBuscar").click(function () {

            var filtro = $("#filtro").val();
            $('.form-check-label').html("Ordenar x Precio (Mayor a Menor)")
            $("#preciofilter").prop("checked", false);
            $("#loaderSpinner").removeClass("d-none");

            $.ajax({
                method: "GET",
                url: "/Producto/buscarProductoxNombre",
                data: { "filtro": filtro, "tipoUsuario": 3},
                success: function (result) {
                    $("#categoria").val('-1');
                    $("#resultado").html("");
                    $("#resultado").html(result);
                    $("#loaderSpinner").addClass("d-none");
                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)

                }
            });
        });

        //Buscar por categoría

        $("#categoria").on('change', function () {

            var categoria = $("#categoria").val();
            $("#filtro").val('');
            $('.form-check-label').html("Ordenar x Precio (Mayor a Menor)")
            $("#preciofilter").prop("checked", false);
            $("#loaderSpinner").removeClass("d-none");

            //    Llamar al ajax
            $.ajax({
                method: "GET",
                url: "/Producto/BuscarProductoxCategoria",
                data: { "categoria": categoria },
                success: function (result) {
                    $("#resultado").html("");
                    $("#resultado").html(result);
                    $("#loaderSpinner").addClass("d-none");
                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)

                }
            })
        });

        $("#preciofilter").change(function () {

            var valor = $(this).is(":checked");
            $('#filtro').val('');
            $('#categoria').val(-1);
            $("#loaderSpinner").removeClass("d-none");

            $.ajax({
                method: "GET",
                url: "/Producto/OrdenarxPrecio",
                data: { "tipoOrden": valor == true ? 1 : 0 },
                success: function (result) {
                    $("#resultado").html("");
                    $("#resultado").html(result);
                    $("#loaderSpinner").addClass("d-none");
                    $('.form-check-label').html(valor == true ? "Ordenar x Precio (Menor a Mayor)" : "Ordenar x Precio (Mayor a Menor)")
                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)

                }
            })
        })

        $(document).on('click', '.ordenarProducto', function () {

            var idProducto = $(this).data('idproducto');
            var stockActual = $(this).data('stockactual');
            var btn = $(this);

            $.ajax({
                method: "POST",
                url: "/Pedido/IngresarProductoCarrito",
                data: { idProducto },
                success: function (result) {

                    $('.cantCarrito').html(result.cantCarrito);

                    if (result.cantProducto + 1 > stockActual) {
                        btn.prop('disabled', true);
                        btn.css({"background-color": 'grey'})
                    }

                    eval(result.mensaje);
                },
                error: function (xhr, status, error) {
                    console.log("error" + error, "no Error: " + xhr.status)
                }
            })
        });
    </script>
}

