@{
    ViewBag.Title = "ByteStore - Todo en Gaming";
}

<div class="d-md-flex justify-content-md-center mb-4">
    <h2 class="w-auto text-center border border-primary border-3 text-light fw-bold p-3 rounded-4">Todo lo que necesites en tecnología y videojuegos en un solo lugar</h2>
</div>

<div class="row">

    <a href="@Url.Action("Index", "Producto")" class="col-md-6 text-decoration-none">
        <div class="card text-white mb-3 p-3 rounded-4 bg-danger">
            <i class="fa-solid fa-gamepad fa-2xl m-3 shadow-lg"></i>
            <div class="card-body">
                <h3 class="card-title">Variedad</h3>
                <p class="card-text">Productos, juegos y otras cosas más de tecnología</p>
            </div>

        </div>
    </a>

    <a href="@Url.Action("Create", "Producto")" class="col-md-6 text-decoration-none">
        <div class="card text-white mb-3 p-3 rounded-4 bg-info">
            <i class="fa-solid fa-arrow-up-from-bracket fa-2xl m-3"></i>
            <div class="card-body">
                <h3 class="card-title">Publicar Producto</h3>
                <p class="card-text">Puedes poner en venta un producto</p>
            </div>

        </div>
    </a>

</div>

<h3 class="text-center text-light fw-bold mt-4">Categorías Disponibles Principales</h3>
<hr class="fw-bold" />

<div class="row">

    <a href="@Url.Action("", "Producto")" class="col-sm-6 col-md-3 text-decoration-none">
        <div class="card text-white mb-3 p-3 rounded-4 bg-warning">
            <i class="fa-solid fa-gamepad fa-2xl m-3"></i>
            <div class="card-body">
                <h3 class="card-title">Juegos de Consola</h3>
                <p class="card-text">Explicación categoría</p>
            </div>

        </div>
    </a>

    <a href="@Url.Action("", "Producto")" class="col-sm-6  col-md-3 text-decoration-none">
        <div class="card text-white mb-3 p-3 rounded-4 bg-warning">
            <i class="fa-solid fa-desktop fa-2xl m-3"></i>
            <div class="card-body">
                <h3 class="card-title">Juegos de PC</h3>
                <p class="card-text">Explicación categoría</p>
            </div>

        </div>
    </a>

    <a href="@Url.Action("", "Producto")" class=" col-sm-6 col-md-3 text-decoration-none">
        <div class="card text-white mb-3 p-3 rounded-4 bg-warning">
            <i class="fa-solid fa-headset fa-2xl m-3"></i>
            <div class="card-body">
                <h3 class="card-title">Accesorios Consola</h3>
                <p class="card-text">Explicación categoría</p>
            </div>

        </div>
    </a>

    <a href="@Url.Action("", "Producto")" class="col-sm-6 col-md-3 text-decoration-none">
        <div class="card text-white mb-3 p-3 rounded-4 bg-warning">
            <i class="fa-solid fa-keyboard fa-2xl m-3"></i>
            <div class="card-body">
                <h3 class="card-title">Accesorios PC</h3>
                <p class="card-text">Explicación categoría</p>
            </div>

        </div>
    </a>

</div>