@model IEnumerable<Infraestructure.Models.Direccion>


<table class="table table-hover text-center rounded-4 overflow-hidden p-3">
    <thead class="table-success">
        <tr>
            <th scope="col">Provincia</th>
            <th scope="col">Cantón</th>
            <th scope="col">Distrito</th>
            <th scope="col">Otras señas</th>
            <th scope="col">Código Postal</th>
            <th scope="col">Teléfono</th>
        </tr>
    </thead>

    <tbody id="TablaTel" class="table-dark">
        @foreach(var direccion in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => direccion.Provincia)
                    </td>
                    <td>
                        @Html.DisplayFor(model => direccion.Canton)
                    </td>
                    <td>
                        @Html.DisplayFor(model => direccion.Distrito)
                    </td>
                    <td>
                        @Html.DisplayFor(model => direccion.Sennas)
                    </td>
                    <td>
                        @Html.DisplayFor(model => direccion.CodigoPostal)
                    </td>
                    <td>
                        @Html.DisplayFor(model => direccion.Telefono)
                    </td>
                </tr>
            }
    </tbody>
</table>