@model IEnumerable<Infraestructure.Models.Direccion>

<table class="table table-hover text-center rounded-4 overflow-hidden p-3">
    <thead class="table-success">
        <tr>
            <th scope="col">Provincia</th>
            <th scope="col">Cantón</th>
            <th scope="col">Distrito</th>
            <th scope="col">Otras señas</th>
            <th scope="col">Código Postal</th>
            <th scope="col">Teléfono</th>
        </tr>
    </thead>

    <tbody id="TablaTel" class="table-dark">

        @for (int i = 0; i < Model.Count(); i++)
        {

            string[] nombre = ((List<string[]>)ViewBag.ListaNombres).ElementAt(i);

            <tr>
                <td>
                    @Html.DisplayFor(model => nombre[0])
                </td>
                <td>
                    @Html.DisplayFor(model => nombre[1])
                </td>
                <td>
                    @Html.DisplayFor(model => nombre[2])
                </td>
                <td>
                    @Html.DisplayFor(model => Model.ElementAt(i).Sennas)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.ElementAt(i).CodigoPostal)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.ElementAt(i).Telefono)
                </td>
            </tr>
        }
    </tbody>
</table>
