<div class="footer mt-auto">
    <footer class="text-center text-white bg-primary">
        <!-- Grid container -->
        <div class="container d-block">
            <!-- Section: Links -->
            <section class="mt-5">
                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center pt-5">
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="@Url.Action("Index","Home")" class="text-decoration-none text-white"><i class="fa-solid fa-home"></i> Home</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="@Url.Action("Index","Producto")" class="text-decoration-none text-white"><i class="fa-solid fa-gamepad"></i> Productos</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    @if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Cliente" }))
                    {
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="@Url.Action("Index","Pedido")" class="text-decoration-none text-white"><i class="fa-solid fa-truck-fast"></i> Pedidos</a>
                            </h6>
                        </div>
                    }
                    <!-- Grid column -->
                    <!-- Grid column -->
                    @if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Cliente" }))
                    {
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="@Url.Action("Carrito","Pedido")" class="text-decoration-none text-white"><i class="fa-solid fa-cart-shopping cantCarrito"></i> Carrito (<span class="fw-bold text-white">0</span>)</a>
                            </h6>
                        </div>
                    }
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="@Url.Action("Contact","Home")" class="text-decoration-none text-white"><i class="fa-solid fa-comment"></i> Contacto</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-2" />

            <!-- Section: Text -->
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            Somos una marca registrada de compra y venta de productos técnologicos
                            enfocados en el Gaming, preparados para dar la mejor calidad desde nuestros
                            vendedores registrados a nuestros clientes registrados.
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <span class="text-white">ByteStore</span>
        </div>
        <!-- Copyright -->
    </footer>
</div>
