﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/img/Logo_simplificado.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* Para los iconos *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css">
        body {
            background: url('../../img/Wallpaper_inicio.jpg');
            background-size: cover;
        }
    </style>

</head>
<body class="d-flex flex-column min-vh-100">
    @* Para llamar a la vista parcial del navbar *@
    @Html.Partial("_Menu");
    <div class="container body-content pt-5 pb-5">
        <div id="loaderSpinner" class="spinner-border text-primary d-flex position-fixed z-3 m-auto display-1 d-none" role="status" style="top: 50%; left: 50%;">
            <span class="sr-only object-fit-scale">Loading...</span>
        </div>
        <main class="container mt-5">
            @RenderBody()
        </main>
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/sweetalert")

    @if (TempData["NotificationMessage"] != null)
    {
        <script type="text/javascript">
            var script = "@Html.Raw(TempData["NotificationMessage"])";
            console.log(script)
            eval(script);
        </script>
    }


</body>
</html>