
@functions {
    public bool PerfilCompleto()
    {
        bool UsuarioPermitido = Web.Security.AutorizeView.IsUserInRole(new string[] { "Cliente", "Vendedor" });
        bool PerfilCompleto = true;

        if (UsuarioPermitido)
        {

            Infraestructure.Models.Usuario usuario = Session["User"] as Infraestructure.Models.Usuario;

            if (ContieneRol(usuario, 2) && ContieneRol(usuario, 3))
            {
                PerfilCompleto = usuario.MetodoPago.Count() > 0 && usuario.Direccion.Count() > 0;
            }
            else if (ContieneRol(usuario, 3) && !ContieneRol(usuario, 2))
            {
                PerfilCompleto = usuario.MetodoPago.Count() > 0 && usuario.Direccion.Count() > 0;
            }
            else if (ContieneRol(usuario, 2) && !ContieneRol(usuario, 3))
            {
                PerfilCompleto = usuario.Direccion.Count() > 0;
            }

        }

        return PerfilCompleto;
    }

    private bool ContieneRol (Infraestructure.Models.Usuario usuario, int rol)
    {
        return usuario.Rol.Where(r => r.IdRol == rol).ToList().Count() > 0;
    }
}

<nav class="navbar navbar-expand-lg bg-primary position-fixed z-3 w-100" data-bs-theme="dark">
    <div class="container-fluid">
        @*Helper: Texto del usuario, Accion a llamar, Nombre controlador, parámetros, Atributos HTML*@
        <a href="@Url.Action("Index","Home")" class="navbar-brand"><img alt="icon" src="~/img/Logo_completo.png" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fs-5" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item me-3">
                    <a href="@Url.Action("Index","Home")" class="nav-link active fw-bold"><i class="fa-solid fa-home"></i> Home</a>
                </li>
                <li class="nav-item me-3">
                    <a href="@Url.Action("Index","Producto")" class="nav-link fw-bold"><i class="fa-solid fa-gamepad"></i> Productos</a>
                </li>
                @if (!PerfilCompleto())
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           href="#" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa-solid fa-user"></i> Perfil</a>
                        <div class="dropdown-menu">
                            @if (Session["User"] != null)
                            {
                                <div class="dropdown-item">
                                    Usuario: @((Session["User"] as Infraestructure.Models.Usuario).Nombre) @((Session["User"] as Infraestructure.Models.Usuario).PrimerApellido)
                                </div>
                            }

                            @if (Session["User"] == null)
                            {
                                <a href="@Url.Action("Index", "Login")" class="dropdown-item text-decoration-none"><i class="fa-solid fa-user"></i> Iniciar Sesión</a>
                            }
                            else
                            {
                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("Update", "Usuario")" class="dropdown-item text-decoration-none"><i class="fa-solid fa-user"></i> Editar Cuenta</a>
                                <a href="@Url.Action("Logout", "Login")" class="dropdown-item text-decoration-none"><i class="fa-solid fa-user-minus"></i> Cerrar Sesión</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item ms-md-5 d-flex align-items-center justify-content-center">
                        <div class="bg-danger rounded-4 p-1 pe-3 ps-3">
                            <h5 class="text-white text-center"><i class="fa-solid fa-warning text-white"></i> Para poder realizar cualquier acción debe completar perfil</h5>
                        </div>
                    </li>
                }
                else
                {
                    if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Vendedor" }))
                    {
                        <li class="nav-item me-3">
                            <a href="@Url.Action("IndexVendedor", "Producto")" class="nav-link fw-bold"><i class="fa-solid fa-money-bill"></i><i class="fa-solid fa-gamepad"></i> Tus Productos</a>
                        </li>
                    }
                    if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Cliente" }))
                    {
                        <li class="nav-item me-3">
                            <a href="@Url.Action("Index", "Pedido")" class="nav-link fw-bold"><i class="fa-solid fa-truck-fast"></i> Pedidos</a>
                        </li>
                    }
                    if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Vendedor" }))
                    {
                        <li class="nav-item me-3">
                            <a href="@Url.Action("IndexVendedor", "Pedido")" class="nav-link fw-bold"><i class="fa-solid fa-money-bill"></i><i class="fa-solid fa-truck-fast"></i> Tus Ventas</a>
                        </li>
                    }
                    if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Cliente" }))
                    {
                        <li class="nav-item me-3">
                            <a href="@Url.Action("Carrito", "Pedido")" class="nav-link fw-bold"><i class="fa-solid fa-cart-shopping"></i> Carrito (<span class="fw-bold text-white cantCarrito">@Web.Utils.Carrito.Instancia.GetCountItems()</span>)</a>
                        </li>
                    }
                    if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Administrador" }))
                    {
                        <li class="nav-item dropdown me-3">
                            <a class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-wrench"></i> Mantenimientos</a>
                            <div class="dropdown-menu fs-5">
                                @Html.ActionLink("Gestionar Usuarios", "IndexAdmin", "Usuario", null, new { @class = "dropdown-item fw-bold" })
                            </div>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           href="#" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa-solid fa-user"></i> Perfil</a>
                        <div class="dropdown-menu">
                            @if (Session["User"] != null)
                            {
                                <div class="dropdown-item">
                                    Usuario: @((Session["User"] as Infraestructure.Models.Usuario).Nombre) @((Session["User"] as Infraestructure.Models.Usuario).PrimerApellido)
                                </div>
                            }

                            @if (Session["User"] == null)
                            {
                                <a href="@Url.Action("Index", "Login")" class="dropdown-item text-decoration-none"><i class="fa-solid fa-user"></i> Iniciar Sesión</a>
                            }
                            else
                            {
                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("Update", "Usuario")" class="dropdown-item text-decoration-none"><i class="fa-solid fa-user"></i> Editar Cuenta</a>
                                <a href="@Url.Action("Logout", "Login")" class="dropdown-item text-decoration-none"><i class="fa-solid fa-user-minus"></i> Cerrar Sesión</a>
                            }
                        </div>
                    </li>
                    if (!Web.Security.AutorizeView.IsUserInRole(new string[] { "Cliente" }))
                    {
                        <li class="nav-item ms-md-5 d-flex align-items-center justify-content-center">
                            <div class="bg-danger rounded-4 p-1 pe-3 ps-3">
                                <h5 class="text-white text-center"><i class="fa-solid fa-warning text-white"></i> No puede ordenar si no es un cliente registrado</h5>
                            </div>
                        </li>
                    }
                }
            </ul>

        </div>
    </div>
</nav>
