@model Infraestructure.Models.Pedido

@{
    ViewBag.Title = "ByteStore - Tu Pedido";
}

<div>
    <div class="d-md-flex justify-content-md-center mb-4">
        <h2 class="border border-3 border-warning w-auto text-center text-light fw-bold p-3 rounded-4">
            Tu Pedido
        </h2>
    </div>
    <hr class="mb-4" />
    <div class="mb-4">
        <a href="@Url.Action("Index", "Pedido")" class="btn btn-info fs-4">Vover Atrás</a>
    </div>
    <div class="rounded-4 p-4 bg-white">
        <i class="fa-solid fa-money-bill fa-2xl m-3 shadow-lg"></i>
        <h3 class="text-center text-black fw-bold mb-4 card-title">Detalle de Factura</h3>
        <hr class="mb-4 text-black" />
        <h3 class="text-center mb-4 fw-bold card-title">Información Principal</h3>
        <h3 class="card-title fw-bold mb-4">
            @Html.DisplayNameFor(model => model.CompraEncabezado.IdCompraEncabezado):
            <span class="fw-normal">
                @Html.DisplayFor(model => model.CompraEncabezado.IdCompraEncabezado)
            </span>
        </h3>
        <h3 class="card-title fw-bold mb-4">
            @Html.DisplayNameFor(model => model.CompraEncabezado.FechaHora):
            <span class="fw-normal">
                @Html.DisplayFor(model => model.CompraEncabezado.FechaHora)
            </span>
        </h3>
        <h3 class="card-title fw-bold mb-4">
            @Html.DisplayNameFor(model => model.EstadoEntrega):
            @if (Model.EstadoEntrega == 0)
            {
                <span class="fw-normal">
                    Pendiente
                </span>
            }
            else if (Model.EstadoEntrega == 1)
            {
                <span class="fw-normal">
                    En Progreso
                </span>
            }
            else
            {
                <span class="fw-normal">
                    Finalizado
                </span>
            }
        </h3>
        <h3 class="card-title fw-bold mb-4">
            @Html.DisplayNameFor(model => model.CompraEncabezado.Direccion):
            <span class="fw-normal">
                @Html.DisplayFor(model => model.CompraEncabezado.Direccion.Sennas)
            </span>
        </h3>
        <h3 class="card-title fw-bold mb-4">
            @Html.DisplayNameFor(model => model.CompraEncabezado.MetodoPago):
            <span class="fw-normal">
                @Model.CompraEncabezado.MetodoPago.Proveedor (@Model.CompraEncabezado.MetodoPago.TipoPago.Descripcion) | @Html.DisplayFor(model => model.CompraEncabezado.MetodoPago.FechaExpiracion)
            </span>
        </h3>
        <hr class="mb-4 text-black" />
        <h3 class="text-center mb-4 fw-bold card-title">@Html.DisplayNameFor(model => model.CompraEncabezado.CompraDetalle)</h3>
        <table class="table rounded rounded-4 overflow-hidden fs-5 shadow mb-4">
            <thead class="bg-black">
                <tr class="p-4">
                    <th scope="col" class="text-white">Producto</th>
                    <th scope="col" class="text-white">Precio</th>
                    <th scope="col" class="text-white">Cantidad</th>
                    <th scope="col" class="text-white">Estado</th>
                </tr>
            </thead>
            <tbody class="table-light">
                @foreach (var detalle in (ICollection<Infraestructure.Models.CompraDetalle>)Model.CompraEncabezado.CompraDetalle)
                {
                    <tr>
                        <th scope="row" class="p-3">@detalle.Producto.Nombre</th>
                        <td>@Html.DisplayFor(model => detalle.Precio)</td>
                        <th>@detalle.Cantidad</th>
                        @if (detalle.EstadoEntrega == false)
                        {
                            <td>Sin Entregar</td>
                        }
                        else
                        {
                            <td>Entregado</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <hr class="mb-4 text-black" />
        <h3 class="text-center mb-4 fw-bold card-title">Desglose</h3>
        <h3 class="card-title fw-bold mb-4">
            @Html.DisplayNameFor(model => model.CompraEncabezado.SubTotal):
            <span class="fw-normal">
                @Html.DisplayFor(model => model.CompraEncabezado.SubTotal)
            </span>
        </h3>
        <h3 class="card-title fw-bold mb-4">
            @Html.DisplayNameFor(model => model.CompraEncabezado.Impuesto):
            <span class="fw-normal">
                @Html.DisplayFor(model => model.CompraEncabezado.Impuesto)
            </span>
        </h3>
        <h3 class="card-title fw-bold mb-4">
            @Html.DisplayNameFor(model => model.CompraEncabezado.Total):
            <span class="fw-normal">
                @Html.DisplayFor(model => model.CompraEncabezado.Total)
            </span>
        </h3>
    </div>
</div>
