@model IEnumerable<Infraestructure.Models.Pedido>

@{
    ViewBag.Title = "ByteStore - Tus Ventas y Pedidos";
    int vendedor = ViewBag.Vendedor;
}

<div class="d-md-flex justify-content-md-center mb-4">
    <h2 class="border border-primary border-3 w-auto text-center text-light fw-bold p-3 rounded-4">
        Tus Ventas y Pedidos
    </h2>
</div>

<h3 class="text-white mb-4 text-center">En este apartado podrás encontrar todos los pedidos de clientes con tus productos</h3>
<hr class="mb-4" />

<ul class="nav nav-tabs text-white" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active text-white" id="enProgreso-tab" data-bs-toggle="tab" data-bs-target="#enProgreso" type="button" role="tab" aria-controls="enProgreso" aria-selected="true">En Progreso</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link text-white" id="pendientes-tab" data-bs-toggle="tab" data-bs-target="#pendientes" type="button" role="tab" aria-controls="pendientes" aria-selected="false">Pendientes</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link text-white" id="finalizados-tab" data-bs-toggle="tab" data-bs-target="#finalizados" type="button" role="tab" aria-controls="finalizado" aria-selected="false">Finalizado</button>
    </li>
</ul>
<div class="tab-content p-4 bg-body" id="myTabContent" style="border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem;">
    <div class="tab-pane fade show active mt-4" id="enProgreso" role="tabpanel" aria-labelledby="ennProgreso-tab">
        @if (Model.Where(pedido => pedido.EstadoEntrega == 1).ToList().Count() > 0)
        {
            <h3 class="text-white fw-bold mb-4">
                En Progreso
            </h3>

            <div class="row mb-4">
                @foreach (var pedido in Model.Where(p => p.EstadoEntrega == 1).ToList())
                {
                    <div class="col-md-12" style="height:100%">
                        <div class="card text-white p-3 rounded-4 bg-primary mb-3">
                            <i class="fa-solid fa-truck-fast fa-2xl m-3 shadow-lg"></i>
                            <div class="card-body">
                                <h3 class="card-title mb-3">
                                    Pedido de
                                    @pedido.CompraEncabezado.Usuario.Nombre
                                    @pedido.CompraEncabezado.Usuario.PrimerApellido
                                    @pedido.CompraEncabezado.Usuario.SegundoApellido
                                </h3>
                                <p class="card-text mb-3">@Html.DisplayNameFor(model => model.CompraEncabezado.FechaHora): @Html.DisplayFor(model => pedido.CompraEncabezado.FechaHora)</p>

                                <table class="table rounded rounded-4 overflow-hidden fs-5 shadow text-center">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Sub-Total</th>
                                            <th scope="col">Asignar como Entregado</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-dark">
                                        @foreach (var compraDetalle in (ICollection<Infraestructure.Models.CompraDetalle>)pedido.CompraEncabezado.CompraDetalle.Where(compra => compra.Producto.Usuario.IdUsuario == vendedor).ToList())
                                        {
                                            <tr class="p-4">
                                                <th scope="row">@Html.DisplayFor(model => compraDetalle.Producto.Nombre)</th>
                                                <th>@Html.DisplayFor(model => compraDetalle.Cantidad)</th>
                                                <th>@Html.DisplayFor(model => compraDetalle.Precio)</th>
                                                <th><a href="@Url.Action("","")" class="btn btn-primary fs-4 @(compraDetalle.EstadoEntrega == false ? "" : "disabled")"><i class="fa-solid @(compraDetalle.EstadoEntrega == false ? "fa-box" : "fa-box-open")"></i></a></th>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h3 class="text-white mb-4 text-center mt-4"><i class="fa-solid fa-warning text-warning"></i> No hay pedidos en progreso</h3>
        }
    </div>
    <div class="tab-pane fade bt-4" id="pendientes" role="tabpanel" aria-labelledby="pendientes-tab">
        @if (Model.Where(pedido => pedido.EstadoEntrega == 0).ToList().Count() > 0)
        {
            <h3 class="text-white fw-bold mb-4">
                Pendientes
            </h3>

            <div class="row mb-4">
                @foreach (var pedido in Model.Where(p => p.EstadoEntrega == 0).ToList())
                {
                    <div class="col-md-12" style="height:100%">
                        <div class="card text-white p-3 rounded-4 bg-primary mb-3">
                            <i class="fa-solid fa-truck-fast fa-2xl m-3 shadow-lg"></i>
                            <div class="card-body">
                                <h3 class="card-title mb-3">
                                    Pedido de
                                    @pedido.CompraEncabezado.Usuario.Nombre
                                    @pedido.CompraEncabezado.Usuario.PrimerApellido
                                    @pedido.CompraEncabezado.Usuario.SegundoApellido
                                </h3>
                                <p class="card-text mb-3">@Html.DisplayNameFor(model => model.CompraEncabezado.FechaHora): @Html.DisplayFor(model => pedido.CompraEncabezado.FechaHora)</p>

                                <table class="table rounded rounded-4 overflow-hidden fs-5 shadow text-center">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Sub-Total</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-dark">
                                        @foreach (var compraDetalle in (ICollection<Infraestructure.Models.CompraDetalle>)pedido.CompraEncabezado.CompraDetalle.Where(compra => compra.Producto.Usuario.IdUsuario == vendedor).ToList())
                                        {
                                            <tr>
                                                <th scope="row">@Html.DisplayFor(model => compraDetalle.Producto.Nombre)</th>
                                                <th>@Html.DisplayFor(model => compraDetalle.Cantidad)</th>
                                                <th>@Html.DisplayFor(model => compraDetalle.Precio)</th>
                                                <th><a href="@Url.Action("","")" class="btn btn-primary fs-4 @(compraDetalle.EstadoEntrega == false ? "" : "disabled")"><i class="fa-solid @(compraDetalle.EstadoEntrega == false ? "fa-box" : "fa-box-open")"></i></a></th>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h3 class="text-white mb-4 text-center mt-4"><i class="fa-solid fa-warning text-warning"></i> No hay pedidos pendientes</h3>
        }
    </div>
    <div class="tab-pane fade mt-4" id="finalizados" role="tabpanel" aria-labelledby="finalizados-tab">
        @if (Model.Where(pedido => pedido.EstadoEntrega == 2).ToList().Count() > 0)
        {
            <h3 class="text-white fw-bold mb-4">
                Finalizado
            </h3>

            <div class="row mb-4">
                @foreach (var pedido in Model.Where(p => p.EstadoEntrega == 2).ToList())
                {
                    <div class="col-md-12" style="height:100%">
                        <div class="card text-white p-3 rounded-4 bg-primary mb-3">
                            <i class="fa-solid fa-truck-fast fa-2xl m-3 shadow-lg"></i>
                            <div class="card-body">
                                <h3 class="card-title mb-3">
                                    Pedido de
                                    @pedido.CompraEncabezado.Usuario.Nombre
                                    @pedido.CompraEncabezado.Usuario.PrimerApellido
                                    @pedido.CompraEncabezado.Usuario.SegundoApellido
                                </h3>
                                <p class="card-text mb-3">@Html.DisplayNameFor(model => model.CompraEncabezado.FechaHora): @Html.DisplayFor(model => pedido.CompraEncabezado.FechaHora)</p>

                                <table class="table rounded rounded-4 overflow-hidden fs-5 shadow mb-4 text-center">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Sub-Total</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-dark">
                                        @foreach (var compraDetalle in (ICollection<Infraestructure.Models.CompraDetalle>)pedido.CompraEncabezado.CompraDetalle.Where(compra => compra.Producto.Usuario.IdUsuario == vendedor).ToList())
                                        {
                                            <tr>
                                                <th scope="row">@Html.DisplayFor(model => compraDetalle.Producto.Nombre)</th>
                                                <th>@Html.DisplayFor(model => compraDetalle.Cantidad)</th>
                                                <th>@Html.DisplayFor(model => compraDetalle.Precio)</th>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a href="@Url.Action("","")" class="btn btn-info fs-4 mb-4"><i class="fa-solid fa-star"></i> Calificar Cliente</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h3 class="text-white mb-4 text-center mt-4"><i class="fa-solid fa-warning text-warning"></i> No hay pedidos finalizados</h3>
        }
    </div>
</div>